h1{
  background-image: url("/images/golden retriever.jpeg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 70px;
}
.nav{
 
  margin: 20px;
}
.li1{
  margin-left: 10px;
  border: solid rgb(33, 40, 7);
  padding: 10px;
  background-color: rgb(234, 241, 205);
  color: black;
  text-decoration: underline;
}