.goldpic1{
    float: left;
    height: 250px;
    margin: 20px;
}
.goldpic3{
    float:right;
    height: 400px;
    margin: 20px;
}
.goldpic4{
    height: 300px;
    margin: 20px;
    float: left;
}
.goldpic5{
    margin: 20px;
}
.goldpic6{
    float:right;
    height: 300px;
    margin: 20px;
}